* {
margin: 0;
}

body {
  background-color: #88C7D0;
  height: 100vh;
  display: grid;
  font-family: 'Poppins';
}

.container {
  padding: 4em 0;
  text-align: center;
  height: 100vh;
  h1 {
    font-size: 5em;
  }
  
  p{
    font-size: 1.3em;
  }
}

section {
  margin-top: 5em;
  padding: 8em 0;
  background-color: #3d9963;
  text-align: center;
  height: 50vh;

  h1{
    color: #fefefe;
  }
}

svg{
  position: absolute;
  top: 8em;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: visible;
}

.cloud1 {
  animation: cloud-drift 250s infinite linear;
}

.cloud2 {
  animation: cloud-drift 300s infinite linear;
}

.cloud3 {
  animation: cloud-drift 320s infinite linear;
}

.cloud4 {
  animation: cloud-drift 260s infinite linear;
}

@keyframes cloud-drift {
  from {
    transform: translateX(-50vw);
  }
  to {
    transform: translatex(120vw);
  }
}